<div class="parallax-container" id="parallax-height">
  <div class="parallax image-top">
    <%= image_tag Settings.home_picture_top %>
    <div class="center-align text-under-image">
      <h2><span><%= t ".company_name" %></span></h2></br>
      <h4><span><%= t ".project_name" %></span><h4>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <div class="row home-introduction">
      <div class="col s3">
        <h2 class="introduction center-align">
          <%= t ".development_history" %>
        </h2>
        <p><%= t ".introdue1" %><%= link_to t(".readmore") %></p>
      </div>
      <div class="col s3">
        <h2 class="introduction center-align"><%= t ".what_do" %></h2>
        <p><%= t ".introdue2" %><%= link_to t(".readmore") %></p>
      </div>
      <div class="col s3">
        <h2 class="introduction center-align"><%= t ".why_do" %></h2>
        <p><%= t ".introdue3" %><%= link_to t(".readmore") %></p>
      </div>
      <div class="col s3">
        <h2 class="introduction center-align"><%= t ".how_do" %></h2>
        <p><%= t ".introdue4" %><%= link_to t(".readmore") %></p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container" id="parallax-height">
  <div class="parallax">
    <%= image_tag Settings.home_picture_bottom %>
  </div>
</div>
<div class="section white">
  <div class="container center-align">
    <h2 class="introduction"><%= t ".let_join" %></h2>
    <p class="footer-slogan"><%= t ".introdue5" %></p>
    <p class="footer-slogan"><%= t ".introdue6" %></p>
  </div>
</div>
<div class="parallax-container" id="parallax-height">
  <div class="parallax">
    <%= image_tag Settings.home_picture_bottom1 %>
  </div>
</div>
