<% provide :title, t(".edit") %>
<h2 class="center-align">
  <%= t ".edit" %><%= resource_name.to_s.humanize %>
</h2>
<h4 class="center-align message-error">
  <%= t ".require_change" %>
</h4>

<div class="card-panel" id="content-color">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, disabled: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t ".confirm_for" %><%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i><%= t ".blank_password" %></i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %><%= t ".minium_password" %></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i><%= t ".confirm_password" %></i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit t(".update"), class: "btn waves-effect waves-light" %>
    </div>
  <% end %>
</div>

<%= link_to t(".back") , :back %>
