<div class="card">
  <div class="card-content" id="content-color">
    <table class="centered">
      <thead>
        <tr>
          <th>
            <div>
              <input type="checkbox" class="filled-in" id="add-user-all"></input>
              <label for="add-user-all"></label>
            </div>
          </th>
          <th><%= t ".index" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".avatar" %></th>
        </tr>
      </thead>
      <tbody>
        <% user_have_no_managers.each_with_index do |user_no_manager, index| %>
          <tr>
            <td>
              <p>
                <input type="checkbox" class="filled-in"
                  id="add-user<%= user_no_manager.id %>"
                  value="<%= user_no_manager.id %>"></input>
                <label for="add-user<%= user_no_manager.id %>"></label>
              </p>
            </td>
            <td><%= index +1 %></td>
            <td><%= link_to user_no_manager.name, user_path(user_no_manager) %></td>
            <td><%= user_no_manager.email %></td>
            <td>
              <% if user_no_manager.avatar? %>
                <%= image_tag user_no_manager.avatar, size: Settings.avatar_index_size,
                  class: "circle" %>
              <% else %>
                <%= image_tag Settings.default_avatar, class: "circle",
                  size: Settings.avatar_index_size %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="fixed-button">
      <div class="card teal lighten-4">
        <div class="card-content">
          <%= button_tag t(".ok"), class: "btn ok-add-user" %>
          <%= button_tag t(".cancel"), class: "btn close-add-user" %>
        </div>
      </div>
    </div>
</div>
</div>
