<div class="card">
  <div class="card-content teal lighten-2">
    <h4 class="center-align upper-case"><%= "employees" %></h4>
  </div>
  <div class="card-action" id="content-color">
    <table class="centered">
      <thead>
        <tr>
          <th><%= t ".index" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".avatar" %></th>
        </tr>
      </thead>
      <tbody>
        <% managers.each_with_index do |manager, index| %>
          <tr>
            <td><%= index +1 %></td>
            <td><%= link_to manager.name, user_path(manager) %></td>
            <td><%= manager.email %></td>
            <td>
              <% if manager.avatar? %>
                <%= image_tag manager.avatar, size: Settings.avatar_index_size,
                  class: "circle" %>
              <% else %>
                <%= image_tag Settings.default_avatar, class: "circle",
                  size: Settings.avatar_index_size %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate managers %>
  </div>
</div>
