<%= form_for @user do |f| %>
  <%= render "shared/error_message" , object: f.object %>
  <div class="row">
    <div class="col s3"></br>
      <% if @user.avatar? %>
        <%= image_tag @user.avatar, size: Settings.avatar_create_size %>
      <% else %>
        <%= image_tag Settings.default_avatar, size: Settings.avatar_create_size %>
      <% end %>
      <span>
        <%= f.file_field :avatar, accept: Settings.image_format_accept %>
      </span>
    </div>
    <% if can? :manage, :all %>
      <div class="col s4">
    <% else %>
      <div class="col s9">
    <% end %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :birthday %>
        <%= f.text_field :birthday, class: "datepicker",
          value: format_time(@user.birthday, :format_date),
          id: "user-birthday" %>
      </div>
      <div class="form">
        <%= f.label :gender, class: "col-md-3 control-label" %>
        <p>
          <% User.genders.keys.each do |key| %>
            <%= f.radio_button :gender, t(".value_#{key}"), class: "with-gap" %>
            <label for="user_gender_<%= "#{key}" %>">
              <%= t(".value_#{key}") %>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
        </p>
      </div>
    </div>
    <% if can? :manage, :all %>
      <div class="col s4">
        <div class="form">
          <div class="field">
            <%= f.label :contract_date %>
            <%= f.text_field :contract_date, class: "datepicker",
            value: format_time(@user.contract_date, :format_date),
            id: "contract-date" %>
          </div>
          <div class="input-field">
            <%= f.select :division_id, @divisions.collect {|c| [c.name, c.id]},
              {selected: @user.division_id, include_blank: false}, class: "select" %>
          </div></br>
          <%= f.label :role, class: "col-md-3 control-label" %>
          <p>
            <% User.roles.keys.each do |key| %>
              <%= f.radio_button :role, t(".value_#{key}"), class: "with-gap" %>
              <label for="user_role_<%= "#{key}" %>">
                <%= t(".value_#{key}") %>
              </label>
              &nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
          </p></br>
          <p>
            <label><%= t ".reset_password" %></label></br>
            <input type="checkbox" name="reset" class="filled-in" id="reset-password"
              value="1"></input>
            <label for="reset-password" id="reset-answer"><%= t ".no" %></label>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="btn-center">
    <%= f.submit t(".submit"), class: "btn waves-effect waves-light" %>
  </div>
<% end %>
