<div class="card-panel blue-grey lighten-5">
  <span class="teal-text">
    <p class="flex-action">
      <i class="material-icons">file_download</i>
      <%= t "users.index.export_users" %>
      <%= link_to "CSV", users_path(format: "csv") %> |
      <%= link_to "Excel", users_path(format: "xls") %>
    </p>
    <li class="divider"></li>
    <p><a class="flex-action" href="<%= new_user_path %>">
      <i class="material-icons">add</i><%= t "users.index.create" %>
    </a></p>
    <li class="divider"></li>
    <p><a class="flex-action reset-password" href="javascript:void(0)">
      <i class="material-icons">autorenew</i>
      <%= t "users.index.reset_password" %>
    </a></p>
    <li class="divider"></li>
    <p><a class="flex-action delete-employees" href="javascript:void(0)">
      <i class="material-icons">delete</i>
      <%= t "users.index.delete_employees" %>
    </a></p>
  </span>
</div>
