<div class="card">
  <div class="card-image">
    <%= image_tag "employees.png", class: "component-image" %>
    <span class="card-title"><%= @user.name %></span>
  </div>
  <div class="card-content" id="content-color">
    <%= render "form" %>
  </div>
</div>
