<% provide :title, t(".all_employees") %>
<div class="row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "employees.png", class: "component-image" %>
      <span class="card-title"><%= t ".all_employees" %></span>
      <% if can? :manage, :all %>
        <a class="more-action-user btn-floating btn-large halfway-fab amber
          accent-4 tooltipped" href="javascript:void(0)" data-position="left"
          data-tooltip="<%= t ".more_action" %>" >
          <i class="medium material-icons">more_vert</i>
        </a>
        <div class="multi-action col s3 offset-s9"></div>
      <% end %>
    </div>
    <div class="card-content" id="content-color">
      <table class="centered">
        <thead>
          <tr>
            <% if can? :manage, :all %>
              <th>
                <div>
                  <input type="checkbox" name="reset_all" class="filled-in"
                    id="reset-password-all" disabled="disabled"></input>
                  <label for="reset-password-all"></label>
                </div>
              </th>
            <% end %>
            <th><%= t ".index" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".email" %></th>
            <th><%= t ".division" %></th>
            <th><%= t ".avatar" %></th>
            <% if can? :manage, :all %>
              <th><%= t ".action" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr id="user<%= user.id %>">
              <% if can? :manage, :all %>
                <td>
                  <p>
                    <input type="checkbox" name="reset" class="filled-in"
                      id="reset-password<%= user.id %>" value="<%= user.id %>"
                      disabled="disabled"></input>
                    <label for="reset-password<%= user.id %>"></label>
                  </p>
                </td>
              <% end %>
              <td><%= index +1 %></td>
              <td>
                <%= link_to user.name, user_path(user), data: {turbolinks: false} %>
              </td>
              <td><%= user.email %></td>
              <td><%= user.division_name %></td>
              <td>
                <% if user.avatar? %>
                  <%= image_tag user.avatar, size: Settings.avatar_index_size,
                    class: "circle" %>
                <% else %>
                  <%= image_tag Settings.default_avatar, class: "circle",
                    size: Settings.avatar_index_size %>
                <% end %>
              </td>
              <% if can? :manage, :all %>
                <td>
                  <a href="<%= user_path(user) %>" data-position="top"
                    class="btn-floating green tooltipped"
                    data-tooltip="<%= t ".detail" %>" data-turbolinks="false">
                    <i class="material-icons">details</i>
                  </a>
                  <% unless user.admin? %>
                    <a data-position="top" value="<%= user.id %>"
                      class="btn-floating red tooltipped delete-employee"
                      data-tooltip="<%= t ".delete" %>">
                      <i class="material-icons">delete</i>
                    </a>
                  <% end %>
                </td>
              <% end %>
            </tr>
            <input type="hidden" value="<%= user.role %>"
              class="user-role<%= user.id %>">
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
      <div id="fixed-button" class="hidden-fixed-button">
        <div class="card teal lighten-4">
          <div class="card-content">
            <%= button_tag t(".ok"), class: "btn btn-action-allowed" %>
            <%= button_tag t(".cancel"),
              class: "btn btn-action-deny deep-orange lighten-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
