<% provide :title, "#{@user.name}" %>
<div class="row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "employees.png", class: "component-image" %>
      <span class="card-title"><%= @user.name %></span>
    </div>
    <div class="card-content" id="content-color">
      <div class="row">
        <div class="col s6" id="content-color">
          <b><p><%= t ".avatar" %></p></b>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar, size: Settings.avatar_show_size %>
          <% else %>
            <%= image_tag Settings.default_avatar,
              size: Settings.avatar_show_size %>
          <% end %>
        </div>
        <div class="col s6" id="content-color">
          <b><%= t ".name" %></b><%= @user.name %></br></br>
          <b><%= t ".email" %></b><%= @user.email %></br></br>
          <b><%= t ".role" %></b><%= @user.role %></br></br>
          <b><%= t ".birthday" %></b>
          <%= format_time(@user.birthday, :format_date) %><br></br>
          <b><%= t ".gender" %></b><%= @user.gender %></br></br>
          <b><%= t ".contract_date" %></b>
          <%= format_time(@user.contract_date, :format_date) %></br></br>
          <b><%= t ".division" %></b><%= @user.division_name %></br></br>
          <% if @user.manager.present? %>
            <b><%= t ".manager" %></b><%= @user.manager_name %>
          <% end %>
        </div>
      </div>
      <% if can? :update, @user %>
        <%= link_to t(".edit_profile"), edit_user_path(@user),
          class: "btn waves-effect waves-light", data: {turbolinks: false} %>
        <% if @user.manager? || @user.admin? %>
          <%= button_tag t(".add_user"), class: "btn add-owned-employee" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="show-user-have-no-manager"></div>
<% if @managers.present? %>
  <%= render "employees_manage", managers: @managers %>
<% end %>
<input type="hidden" value="<%= @user.id %>" id="manager-id">
<input type="hidden" value="<%= @user_have_no_managers.size %>" id="number-user">
