<div class="card">
  <div class="card-content teal lighten-2">
    <h4 class="center-align upper-case">
      <%= t ".employee_in" %> <%= "#{div.name}" %>
    </h4>
  </div>
  <div class="card-action" id="content-color">
    <% if can? :manage, :all %>
      <%= button_tag t(".move"), class: "btn move-employees" %>
    <% end %>
    <table class="centered">
      <thead>
        <tr>
          <% if can? :manage, :all %>
            <th>
              <div>
                <input type="checkbox" class="filled-in" id="move-all"
                  disabled="disabled"></input>
                <label for="move-all"></label>
              </div>
            </th>
          <% end %>
          <th><%= t ".index" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".avatar" %></th>
          <% if can? :manage, :all %>
            <th><%= t "divisions.index.action" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% employees.each_with_index do |employee, index| %>
          <tr id="employee<%= employee.id %>">
            <% if can? :manage, :all %>
              <td>
                <p>
                  <input type="checkbox" class="filled-in" disabled="disabled"
                    id="move<%= employee.id %>" value="<%= employee.id %>">
                  </input>
                  <label for="move<%= employee.id %>"></label>
                </p>
              </td>
            <% end %>
            <td><%= index +1 %></td>
            <td><%= link_to employee.name, user_path(employee) %></td>
            <td><%= employee.email %></td>
            <td>
              <% if employee.avatar? %>
                <%= image_tag employee.avatar, size: Settings.avatar_index_size,
                  class: "circle" %>
              <% else %>
                <%= image_tag Settings.default_avatar, class: "circle",
                  size: Settings.avatar_index_size %>
              <% end %>
            </td>
            <% if (can? :manage, :all) || (can? :update, div) %>
              <td>
                <% unless employee.admin? || employee.manager? %>
                  <a data-position="top"
                    class="btn-floating red tooltipped delete-employee-in-div"
                    data-tooltip="<%= t ".delete" %>" value="<%= employee.id %>">
                    <i class="material-icons">delete</i>
                  </a>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate employees %>
    <div id="fixed-button" class="hidden-fixed-button">
      <div class="card teal lighten-4">
        <div class="card-content">
          <a class="btn modal-trigger btn-action-allowed">
            <%= t ".move_to" %>
          </a>
          <%= button_tag t(".cancel"),
            class: "btn btn-action-deny deep-orange lighten-1" %>
        </div>
      </div>
    </div>
    <div id="modal-move-to-division" class="modal">
      <div class="modal-content">
        <h4><%= t ".choose_division" %></h4>
        <% divisions.each do |division| %>
          <p>
            <input name="group1" type="radio" id="division<%= division.id %>"
              value="<%= division.id %>" class="with-gap" />
            <label for="division<%= division.id %>">
              <%= division.name %>
            </label>
          </p>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= button_tag t(".ok"), class: "btn btn-allow-move btn-center" %>
      </div>
    </div>
  </div>
</div>
