<%= form_for @division do |f| %>
  <%= render "shared/error_message" , object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit t(".submit"), class: "btn waves-effect waves-light" %>
<% end %>
