<div class="card-panel blue-grey lighten-5">
  <span class="teal-text">
    <p>
      <%= t "divisions.index.export_divisions" %>
      <%= link_to "CSV", divisions_path(format: "csv") %> |
      <%= link_to "Excel", divisions_path(format: "xls") %>
    </p>
    <li class="divider"></li>
    <p><a class="flex-action" href="<%= new_division_path %>">
      <i class="material-icons">add</i><%= t "divisions.index.create" %>
    </a></p>
  </span>
</div>
