<% provide :title, t(".edit_division") %>
<div class="row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "division.jpg", class: "component-image" %>
      <span class="card-title"><%= "#{@division.name}" %></span>
    </div>
    <div class="card-content" id="content-color">
      <%= render "form" %>
    </div>
  </div>
</div>
