<% provide :title, t(".all_divisions") %>
<div class="row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "division.jpg", class: "component-image" %>
      <span class="card-title"><%= t ".all_divisions" %></span>
      <% if can? :manage, :all %>
        <a class="more-action btn-floating btn-large halfway-fab amber accent-4
          tooltipped" href="javascript:void(0)" data-position="left"
          data-tooltip="<%= t ".more_action" %>" >
          <i class="medium material-icons">more_vert</i>
        </a>
        <div class="multi-action col s3 offset-s9"></div>
      <% end %>
    </div>
    <div class="card-content" id="content-color">
      <% if can? :manage, :all %>
      <% end %>
      <table class="centered">
        <thead>
          <tr>
            <th><%= t ".index" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".number_of_member" %></th>
            <% if can? :manage, :all %>
              <th><%= t ".action" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @divisions.each_with_index do |division, index| %>
            <tr id="division<%= division.id %>">
              <td><%= index +1 %></td>
              <td><%= link_to division.name, division_path(division),
                data: {turbolinks: false} %></td>
              <td id="member<%= division.id %>" value="<%= division.users.count %>">
                <%= division.users_count %>
              </td>
              <% if can? :manage, :all %>
                <td>
                  <a href="<%= division_path(division) %>" data-position="top"
                    class="btn-floating green tooltipped"
                    data-tooltip="<%= t ".detail" %>" data-turbolinks="false">
                    <i class="material-icons">details</i>
                  </a>
                  <a data-position="top"
                    class="btn-floating red tooltipped delete-division"
                    data-tooltip="<%= t ".delete" %>" value="<%= division.id %>">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @divisions %>
    </div>
  </div>
</div>
