<% provide :title, "#{@division.name}" %>
<div class="row">
  <div class="card">
    <div class="card-image">
      <%= image_tag "division.jpg", class: "component-image" %>
      <span class="card-title"><%= @division.name %></span>
    </div>
    <div class="card-content" id="content-color">
      <div class="row">
        <div class="col s8">
          <% if @employees_in_div.present? %>
            <%= render "employees_in_division", employees: @employees_in_div,
              divisions: @divisions, div: @division %>
          <% end %>
        </div>
        <div class="col s4" id="detail-division">
          <h3 class="center-align"><%= t ".information" %></h3>
          <li class="divider"></li></br>
          <b><p><%= t ".name" %></p></b>
          <h4><%= @division.name %></h4>
          <b><%= t ".number_employee" %></b>
          <h4><%= @division.users_count %></h4>
          <b><%= t ".description" %></b>
          <h4>
            <%= @division.description %>
          </h4>
          <% if (can? :manage, :all) || (can? :update, @division) %>
            <li class="divider"></li></br>
            <a href="<%= edit_division_path(@division) %>" data-position="right"
              class="btn-floating orange tooltipped edit-division modal-trigger"
              value="<%= @division.id %>" data-tooltip="<%= t ".edit" %>">
              <i class="material-icons">edit</i>
            </a>
          <% end %>
        </div>
      </div>
      <div id="modal-edit-division" class="modal">
        <div class="modal-content">
          <h4 class="center-align"><%= "Edit #{@division.name}" %></h4>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>

