<p><%= t(".hello") %><%= "#{@user.name}" %></p>
<p><%= t ".subject" %></p>
<p><%= t ".notification" %></p>
<p><b><%= t ".email" %></b><%= "#{@user.email} "%></p>
<p><b><%= t "password" %></b><%= "#{@user.password} "%></p>
