<div id="modal-login" class="modal">
  <div class="modal-content" id="login-modal">
    <h4 class="center-align"><%= t ".login" %></h4>
    <div class="message-error"></div>
    <div id="sign-in">
      <%= form_for :user, remote: :true, url: session_path(:user) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
   
        <div class="actions">
          <%= f.submit t(".login"), class: "btn submit-login" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
