body {
  padding: 0px;
}

footer {
  margin: 0px;
  padding-top: 5px;

  .container {
    width: 100%;
  }
}

header {
  font-weight: bold;
  text-transform: uppercase;
}

#menu {
  background-color: #0277bd;
}

#title-color {
  background-color: #bdbdbd;
}

#content-color {
  .pagination {
    a {
      color: teal;
      text-transform: none;
    }
    background-color: white;
    box-shadow: none;
    border-style: double;
    color: teal;
    margin: auto;
    width: 50%;
    text-align: center;
  }
}

.pagination-custom {
  width: 20%;
}

.image-top {
  position: relative;
  width: 100%;
}

.text-under-image {
  position: absolute;
  top: 100px;
  width: 100%;

  h2 {
    font: bold 50px/45px Helvetica, Sans-Serif;
  }

  span {
    color: #ffffff;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-weight: bold;
  }

  h4 {
    color: #ad1457;
  }
}

.upper-case {
  text-transform: uppercase;
}

.footer-company {
  font-size: 55px;
  font-weight: bold;
}

.footer-slogan {
  font-size: 20px;
  font-style: italic;
}

.introduction {
  color: #009688;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.home-introduction {
  p {
    text-align: justify;
  }
}

#parallax-height {
  height: 350px;
}

#login-modal {
  color: #000000;
  text-transform: none;
}

#modal-login {
  width: 25%;
}

#modal-move-to-division {
  width: 25%
}

.card-title {
  font: bold 50px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  text-transform: uppercase;
}

.component-image {
  height: 200px;
}

.btn-center {
  text-align: center;
}

#manager {
  background-color: #00897b;
  color: #ffffff;
  text-transform: uppercase;
}

.hidden-fixed-button {
  display: none;
}

#fixed-button {
  position: fixed;
  bottom:0px;
}

.message-error {
  color: #e65100;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #880e4f;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  opacity: 0.6;
}

#back-to-top span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#back-to-top:hover {
  background: #d81b60
}

.buttons-wrapper {
  position: absolute;
  height: calc(50vh);
  display: flex;
  align-items: center;
  z-index: 997;
  top: calc(50vh);
  width: 100%;

  a {
    font: 30px Helvetica;
    pointer-events: auto;
  }
}

.flex-action {
  display: flex;
}

#content-color {
  .row .col.s4 {
    right: 0;
  }
}

#detail-division {
  border-left: 1px solid #d6d6d7;
}

.fixed-detail {
  position: fixed;
  top: 80px;
  right: 0;
}

.multi-action {
  position: absolute;
  z-index: 997;
}
