<div class="container">
  <div class="row">
    <div class="col s4 center-align">
      <ul>
        <li class="footer-company">
          <%= t "static_pages.home.company_name" %>
        </li>
        <li class="footer-slogan"><%= t ".slogan" %></li>
      </ul>
    </div>
    <div class="col s4">
      <ul>
        <li class="upper-case">
          <i class="material-icons">contacts</i><%= t ".contact_us" %>
        </li>
        <li class="divider"></li>
      </ul>
      <ul>
        <li>
          <p><i class="material-icons">location_on</i><%= t ".location" %></p>
        </li>
        <li>
          <p><i class="material-icons">phone_android</i><%= t ".phone" %><p>
        </li>
        <li>
          <p><i class="material-icons">contact_mail</i><%= t ".phone" %></p>
        </li>
      </ul>
    </div>
    <div class="col s4">
      <ul>
        <li class="upper-case">
          <i class="material-icons">attach_file</i><%= t ".link" %>
        </li>
        <li class="divider"></li>
      </ul>
      <ul>
        <div class="row">
          <div class="col s6">
            <li><p><%= "History and Mission" %></li></p>
            <li><p><%= "Why Rikkeisoft" %></li></p>
            <li><p><%= "News" %></li></p>
            <li><p><%= "Testimonials" %></li></p>
          </div>
          <div class="col s6">
            <li><p><%= "History and Mission" %></li></p>
            <li><p><%= "Why Rikkeisoft" %></li></p>
            <li><p><%= "News" %></li></p>
            <li><p><%= "Testimonials" %></li></p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <%= t ".copyright" %>
  </div>
</div>
