<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" id="menu">
      <ul class="left hide-on-med-and-down">
        <% if current_user.present? %>
          <li><%= link_to "Home", root_path, data: {turbolinks: false} %></li>
        <% end %>
      </ul>
      <ul class="right hide-on-med-and-down">
        <% if current_user.present? %>
          <li><%= link_to t(".division"), divisions_path %></li>
          <li>
            <%= link_to t(".employees"), users_path, data: {turbolinks: false} %>
          </li>
          <li>
            <a class="dropdown-button" href="#" data-activates="dropdown"
              data-beloworigin="true">
              <%= current_user.name %>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="dropdown" class="dropdown-content">
              <li>
                <%= link_to t(".profile"), current_user,
                  data: {turbolinks: false} %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <a class="modal-trigger login-btn"><%= t ".sign_in" %></a>
            <%= render "devise/sessions/form_login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
