<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <%= image_tag Settings.present2 %>
      <div class="caption center-align text-under-image">
        <h2><span><%= t ".company_name" %></span></h2></br>
        <h5 class="light grey-text text-lighten-3">
          <span><%= t ".project_name" %></span>
        </h5>
      </div>
    </li>
    <li>
      <%= image_tag Settings.present1 %>
      <div class="caption left-align text-under-image">
        <h2><span><%= t ".slogan" %></span></h2></br>
        <h5 class="light grey-text text-lighten-3">
          <span><%= t ".present" %></span>
        </h5>
      </div>
    </li>
    <li>
      <%= image_tag Settings.present3 %>
      <div class="caption left-align text-under-image">
        <h2><span><%= t ".mission" %></span></h2></br>
        <h5 class="light grey-text text-lighten-3">
          <span><%= t ".mission_detail" %></span>
        </h5>
      </div>
    </li>
  </ul>
</div>
<div class="buttons-wrapper">
  <div class="row center">
    <a class="btn modal-trigger login-btn amber accent-4">
      <i class="medium material-icons">person</i> <%= t ".sign_in" %>
    </a>
  </div>
</div>
<%= render "devise/sessions/form_login" %>
