<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t ".title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="icon" type="image/png" href="/assets/rikkei-logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% if current_user.present? %>
      <header>
        <%= render "layouts/header" %>
      </header>
      <container>
        <%= yield %>
        <a id="back-to-top"><span></span></a>
      </container>
      <footer class="page-footer" id="menu">
        <%= render "layouts/footer" %>
      </footer>
    <% else %>
      <%= render "layouts/present" %>
    <% end %>
  </body>
</html>
